body {
    font-family: 'Nunito', 'Arial', sans-serif;
    margin: 0;
    background-color: #F0F0FF; /* Set background color for demonstration */
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.6); /* White color with 0.6 opacity */
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* Adjust width as needed */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 6px 20px rgba(0, 0, 0, 0.19); /* Add shadow */
}

input[type="number"],
input[type="date"],
input[type="text"],
input[type="password"],
input[type="file"],
select {
    width: calc(100% - 10px); /* Adjust width and margin as needed */
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #ddd; /* Input box color */
    color: black; /* Text color */
}

select {
    appearance: none; /* Remove default appearance */
    background-image: url("data:image/svg+xml,%3csvg fill='%23000000' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3cpath d='M0 0h24v24H0z' fill='none'/%3e%3c/svg%3e"); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position: right 5px top 50%;
}

button[type="submit"],
button[type="button"] {
    width: calc(100% - 10px); /* Adjust width and margin as needed */
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #00ABE4; /* Input box color */
    color: white; /* Button text color */
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: green; /* Button background color on hover */
}
button[type="button"]:hover {
    background-color: crimson; /* Button background color on hover */
}

a {
    text-decoration: none;
    color: #20255C; /* Link color */
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}

.logo {
    height: 300px;
    width: 300px; /* Adjust width as needed */
    float: right;
    margin-left: 50px;
}

.logo-container {
    text-align: center;
    margin-top: 20px; /* Adjust as needed */
}

.qr-code-text {
    text-align: center;
    margin-left: 30px;
    color: black;
}

.button-container {
    display: flex;
    justify-content: space-between;
}
